@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(234, 92, 92);
  color: #fff;
  height: 5rem;
}
.header--title{
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -1px;
}
.header--img{
  width: 2rem;
  height: 2rem;
}
.fa-earth-americas{
  font-size: 1.8rem;
  margin-right: .7rem;
}


/* CARD */
.card--container{
  margin-top: 3rem;
}
.location--img{
  width: 10rem;
  height: 14rem;
  border-radius: 12px;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.date span{
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.date{
  margin: 5px 0;
}
.description{
  font-family: 'Poppins', sans-serif;
  width: 30rem;
  line-height: 1.5;
  font-size: 14px;
  color: #7e7e7e;
}
.travel--info{
  padding: 2rem;
}

.title{
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.location--section{
  display: flex;
  align-items: center;
}
.map{
  text-decoration: none;
  padding-left: 13px;
  color: #7e7e7e;
}
.map:hover{
  color: coral;
}